$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;



$map-for-breakpoints: (
        xs: $xs,
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

:root {
  --primary: #ffde59;
  --secondary: #393f4d;
  --light: #d4d4dc;
  --dark: #242424;
}

html[theme="light-theme"] {
  --primary: #ffde59;
  --secondary: #242424;
}

html[theme="dark-theme"] {
  --primary: #242424;
  --secondary: #ffde59;
}